<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spoclub</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- 이게 있어야 네비바가 열림 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body style="background-image: linear-gradient(to bottom right, lawngreen, lightpink)">
<nav class="navbar navbar-expand-lg bg-light" style="height: 50px">
    <div class="container-fluid">
        <a href="main"><img style="width: 110px" style="height: 30px"
                            src="media/spoclub로고.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- 네비바 버튼 비 활성화
                    <button type="button" onclick="location.href='main'">메인</button>
                    <button type="button" onclick="location.href='login'">로그인</button>
                    <button type="button" onclick="location.href='register'">회원가입</button>
                    -->
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    더보기
                </button>
                <ul class="dropdown-menu" style="left: -100px">
                    <li><a class="dropdown-item" href="main">메인</a></li>
                    <li><a class="dropdown-item" href="profile">내 정보</a></li>
                    <li><a class="dropdown-item" href="logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div style="color: black; padding: 4rem 4rem 6rem 4rem; text-align: center; align-items: center">
    <h1 style="font-size: 3rem"> Spoclub에 <br/>
        오신걸 환영합니다</h1>
    <p style="font-size: 20px; font-style: italic">이 곳은 무료로 지인들과 운동팀을 만들어 활동 할 수 있는<br/>
        운동을 즐기는 사람들을 위한 사이트입니다</p>
</div>
    <section style="display: flex; align-items: stretch; text-align: center; width: 100%; padding: 0">
        <article style="border: 1px solid gray">
            <header>
                <span>Soccer / Futsal</span>
                <h2>축구 / 풋살</h2>
            </header>
            <a><img src="media/축구사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn1" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange1()" onmouseleave="colorReChange1()">더 보기</button>
            </ul>
        </article>
        <article style="border: 1px solid gray">
            <header>
                <span>Basket ball</span>
                <h2>농구</h2>
            </header>
            <a><img src="media/농구사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn2" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange2()" onmouseleave="colorReChange2()">더 보기</button>
            </ul>
        </article>
    </section>
    <section style="display: flex; align-items: stretch; text-align: center; width: 100%">
        <article style="border: 1px solid gray">
            <header>
                <span>Pingpong</span>
                <h2>탁구</h2>
            </header>
            <a><img src="media/탁구사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn3" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange3()" onmouseleave="colorReChange3()">더 보기</button>
            </ul>
        </article>
        <article style="border: 1px solid gray">
            <header>
                <span>Gate ball</span>
                <h2>게이트볼</h2>
            </header>
            <a><img src="media/게이트볼사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn4" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange4()" onmouseleave="colorReChange4()">더 보기</button>
            </ul>
        </article>
    </section>
    <section style="display: flex; align-items: stretch; text-align: center; width: 100%; padding: 0">
        <article style="border: 1px solid gray">
            <header>
                <span>Golf</span>
                <h2>골프</h2>
            </header>
            <a><img src="media/골프사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn1" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange1()" onmouseleave="colorReChange1()">더 보기</button>
            </ul>
        </article>
        <article style="border: 1px solid gray">
            <header>
                <span>Balling</span>
                <h2>볼링</h2>
            </header>
            <a><img src="media/볼링사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn2" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange2()" onmouseleave="colorReChange2()">더 보기</button>
            </ul>
        </article>
    </section>
    <section style="display: flex; align-items: stretch; text-align: center; width: 100%; padding: 0">
        <article style="border: 1px solid gray">
            <header>
                <span>Swim</span>
                <h2>수영</h2>
            </header>
            <a><img src="media/수영사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn1" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange1()" onmouseleave="colorReChange1()">더 보기</button>
            </ul>
        </article>
        <article style="border: 1px solid gray">
            <header>
                <span>Tennis</span>
                <h2>테니스</h2>
            </header>
            <a><img src="media/테니스사진.png" style="width: 50%"></a>
            <ul style="padding-top: 10px">
                <button type="button" id="selectbtn2" style="font-size: 20px; background-color: beige; color: skyblue; border: 1px solid skyblue; border-radius: 4px" onmousemove="colorChange2()" onmouseleave="colorReChange2()">더 보기</button>
            </ul>
        </article>
    </section>
</body>

<script>
    function colorChange1() {
        var Bcolor = document.getElementById("selectbtn1");
        Bcolor.style.backgroundColor = "skyblue";
        Bcolor.style.color = "black";
    }

    function colorReChange1() {
        var Bcolor = document.getElementById("selectbtn1");
        Bcolor.style.backgroundColor = "beige";
        Bcolor.style.color = "skyblue";
    }
    function colorChange2() {
        var Bcolor = document.getElementById("selectbtn2");
        Bcolor.style.backgroundColor = "skyblue";
        Bcolor.style.color = "black";
    }

    function colorReChange2() {
        var Bcolor = document.getElementById("selectbtn2");
        Bcolor.style.backgroundColor = "beige";
        Bcolor.style.color = "skyblue";
    }
    function colorChange3() {
        var Bcolor = document.getElementById("selectbtn3");
        Bcolor.style.backgroundColor = "skyblue";
        Bcolor.style.color = "black";
    }

    function colorReChange3() {
        var Bcolor = document.getElementById("selectbtn3");
        Bcolor.style.backgroundColor = "beige";
        Bcolor.style.color = "skyblue";
    }
    function colorChange4() {
        var Bcolor = document.getElementById("selectbtn4");
        Bcolor.style.backgroundColor = "skyblue";
        Bcolor.style.color = "black";
    }

    function colorReChange4() {
        var Bcolor = document.getElementById("selectbtn4");
        Bcolor.style.backgroundColor = "beige";
        Bcolor.style.color = "skyblue";
    }

</script>
</html>